<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Board Form</title>
	<link rel="stylesheet" th:href="@{/css/base.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<script th:src="@{/js/jquery.min.js}"></script>
	<script>
		/* submit 대신 click을 사용하니 form의 required가 실행되기 전에 함수가 호출되어서 내용을 작성하지 않고 글이 등록이 됨
		submit은 requierd가 적용된 이후에 함수가 실행됨 */
		$(document).ready(function () {
			$('form').submit(function (e) {
				e.preventDefault();
				var boardName = $('#board_name').val();
				//alert(boardName)
				$.ajax({
					url: "/article/insert",
					type: "POST",
					data: JSON.stringify({
						boardName: boardName,
						title: $('#article_title').val(),
						content: $('#article_content').val()
					}),
					contentType: "application/json",
					success: function () {
						alert('등록되었습니다');
						location.href = '/' + boardName + '/list';
					},
					error: function () {
						alert('로그인한 사용자가 아닙니다');
						location.href = '/' + boardName + '/list';
					}
				});
			});
		}); 
	</script>
</head>

<body>
	<div th:replace="layout/header::header"></div>
	<!-- 제목과 내용을 필수로 입력하도록 하는 방법 중에 폼의 required가 생각나서 form으로 감싸줌 -->
	<form class="container">
		<input id="board_name" type="hidden" th:value="${boardName}" />
		<table class="table">
			<div sec:authorize="isAuthenticated()">
				<h1 sec:authentication="name"></h1>
			</div>
			<tr>
				<th style="padding: 13px 0 0 15px;">Title</th>
				<td><input id="article_title" type="text" class="col-md-1 form-control input-sm" name="title"
						required />
				</td>
			</tr>
			<tr>
				<th style="padding: 13px 0 0 15px;">Context</th>
				<td><textarea id="article_content" class="col-md-1 form-control input-sm" maxlength="3000" rows="7"
						style="height: auto;" name="content" required></textarea> <span class="help-block"></span>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
			</tr>
		</table>

		<div class="pull-left">
			<a th:href="@{'/' + ${boardName} + '/list'}" class="btn btn-default">Back</a>
		</div>
		<div class="pull-right">
			<input type="submit" class="btn btn-primary" id="insert" value="Publish">
		</div>
	</form>
</body>

</html>